*,*::before,*::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  margin: 0;
}

#content{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
}

header{
  background-color: #252525;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

nav{
  background-color: #252525;
  width: 15%;
  height: calc(100vh - 80px);
  color: white;
}

main{
  display: flex;
}

.todo-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 20px;
  transition: background-color 200ms ease-in-out;
}

.todo-button:hover{
  background-color: #AAA;
}

.todos-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: background-color 200ms ease-in-out;
}

.project-logo{
  margin-right: 10px;
}

.add-project-button,.add-todo-button{ 
  color: white;
  background-color: #252525;
  border: none;
  padding: 5px 30px;
  transition: background-color 150ms ease-in-out;
  border-radius: 2px;
}

.add-todo-button{
  background-color: white;
  color: #252525;
}

.add-project-button:hover,.project-container:hover,.add-todo-button:hover{
  background-color: #AAA;
  cursor: pointer;
}

.add-project-container,
.add-todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons-container{
  width: 100%;
  display: flex;
  justify-content:space-evenly;
}

.add-button{
  background-color: rgb(54, 239, 54);
}

.cancel-button{
  background-color: rgb(221, 27, 27);
}

.add-button,
.cancel-button{
  margin-top: 5px;
  border: none;
  border-radius: 2px;
  padding:5px 20px;
  cursor: pointer;
}

.add-button:hover,
.cancel-button:hover{
  opacity: .6;
}

.default-project-container{
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #FFF;
}

.add-project-container > #add {
  font-size: 15px;
}

#add {
  font-size: 20px;
}

.logo-x{
  cursor: pointer;  
  transition: scale 200ms ease-in-out;
}

.logo-x:hover{
  scale: 1.2;
}

.left-part-todo,
.right-part-todo{
  display: flex;
  gap:5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.inbox-container,
.today-container,
.this-week-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* DARK THEME */

/* .project-container.dark {
  color:#252525
}

.todos-container.dark{
  color:#AAA
}

.todo-button.dark{
  color:#AAA
}

#content.dark{
  background-color: #252525;
  color: #AAA;
}

nav.dark,
header.dark{
  background-color: #AAA;
  color: #252525;
} */